<table border="0">
	<tbody>
		<tr>
			<td valign="top">
				<center>
					<a href="#">
						<img src="/grayarrow.gif" border="0" vspace="3" hspace="2">
					</a>
				</center>
			</td>
			<td class="default">
				<div style="margin-top:2px; margin-bottom:-10px; ">
					<span class="comhead">
						<%= link_to @comment.user.screen_name, user_path(@comment.user) %>
						<%= time_ago_in_words(@comment.created_at) %> ago  | 
						<%= link_to "link", comment_path(@comment) %> | 
						<% if @comment.parent %>
							<%= link_to "parent", comment_path(@comment.parent) %>
						<% else %>
							<%= link_to "parent", post_path(@comment.post) %>
						<% end %>
					</span>
				</div>
				<br>
				<span class="comment">
					<font color="#000000"><%= @comment.body %></font>
				</span>
			</td>
		</tr>
		<tr style="height:10px">
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<%= render :partial => "comments/form", 
					:locals => { :parent => @comment, :comment => @comment_new } %>
			</td>
		</tr>
	</tbody>
</table>

<br><br>
<% @children.each do |comment| %>

<%= render comment %>
<% end %>



