<h1>New Post</h1>
<%= form_for(@post) do |f|%>

<%= f.label :title%>
<%= f.text_field :title%>
<br>
<%= f.label :url %>
<%= f.text_field :url %>
<br>
<%= f.fields_for(:comments) do |comment_form| %>
<h3>Comment</h3>
<%= render :partial => "comments/inner_form", :locals => { :form => comment_form }%>
<br>
<% end %>
<%= f.submit %>
<% end %>